{% extends "main.html" %}

{% block head_title %}
    <title>Customers</title>
{% endblock %}

{% block content %}

     <br>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customers</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Customer name:</th>
                        <th>Phone:</th>
                        <th>Email:</th>
                    </tr>

                    {% for customer in customers %}
                        <tr>                           
                            <td>{{ customer.name }}</td>                           
                            <td>{{ customer.phone }}</td>                                            
                            <td>{{ customer.email }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% endblock %}