{% extends "users/login_base.html" %}

	{% block head_title %}
		<title>Login</title>
	{% endblock %}	
	
	
	{% block content %}               

	<div class="user_card">
		<div class="d-flex justify-content-center">


			<h3 id="form-title">LOGIN</h3>
		</div>
		<div class="d-flex justify-content-center form_container">
			<form method="POST" action="">
				{% csrf_token %}

				<div class="input-group mb-3">
					<div class="input-group-append">
					</div>
					<input type="text" name="username" placeholder="Username..." class="form-control">
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
					</div>
						<input type="password" name="password" placeholder="Password..." class="form-control" >
				</div>

					<div class="d-flex justify-content-center mt-3 login_container">
						 <input class="btn login_btn" type="submit" value="Login">
					   </div>
			</form>

		</div>

		{% for message in messages %}
			<p id="messages">{{ message }}</p>                   
		{% endfor %}

		<div class="mt-4">
			<div class="d-flex justify-content-center links">
				Don't have an account? <a href="{% url 'users:register' %}" class="ml-2">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center links">
				Forgot password? <a href="{% url 'reset_password' %}" class="ml-2">Reset password</a>
			</div>
	
		</div>
	</div>
		
	{% endblock %}