{% extends "users/login_base.html" %}

{% block content %}  
	<div class="user_card">
		<div class="d-flex justify-content-center">


			<h3 id="form-title">ENTER NEW PASSWORD</h3>
		</div>
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
		<div class="d-flex justify-content-center form_container">
			
            <form method="POST" action="">
                {% csrf_token %}   
                 
                {{ form.new_password1}}
                <br>
                {{ form.new_password2}}   
                <br> 
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}


                <input class="btn login_btn" type="Submit" name="Update Password" >
            </form>            
		</div>        		
	</div>
{% endblock %} 

